.car {         
    margin: 0 auto;
    border: 3px solid teal;
}

.car th,
.car td{
    border: 3px solid teal;
    text-align: center;
}

.car caption{
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}